body {
  margin: 0;
  font-family: 'Segoe UI',sans-serif;
  background-color: #f0f8f9;
}
.main{
  background-color: #007f89;
  color: white;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
.logo-brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.logo-brand img {
  height: 35px;
  margin-right: 10px;
}
.logo-brand span {
  font-size: 20px;
  font-weight: bold;
}
nav a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
nav a:hover {
  text-decoration: underline;
}
.container {
  max-width: 600px;
  background-color: white;
  margin: 60px auto;
  padding: 40px 30px;
  border-radius: 10px;
}
h1 {
  color: #007f89;
  margin-bottom: 10px;
}
p {
  margin-bottom: 25px;
  font-size: 1rem;
  line-height: 1.5;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}
input,
textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid ;
  border-radius: 6px;
}
button {
  background-color: #007f89;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #005f61;
}
.contact-info {
  margin-top: 30px;
  font-size: 0.95rem;
}
.contact-info a {
  color: #007f89;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}
